.button {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;

    &--outline {
        border-color: white;
        background-color: transparent;
        color: white;
    }

    &--filled {
        background-color: white;
        color: #001E44;
    }
}
