 .text-h {
     color: white;
     font-size: 1rem;
     margin-bottom: 5px;
 }

 .text-h--large {
    color: #001E44;
    margin-bottom: 5px;
    font-size: 2rem;
 }

  .text-h--small {
   color: white;
    margin-bottom: 5px;
    font-size: 1rem;
 }